@media only screen and (max-width: 800px){
  #aside{
    display: none;
  }
  .article{
    min-width: 100%;
    max-width: 100%;
    width: 100%;
  }
  #topLogo{
    position: absolute !important; 
    left: 50% !important; 
    margin-left: -85px !important;
  }
  .auth{
    display: none;
  }
  #top-picks{
    display: none;
  }
  nav{
    position: relative;
  }
  .div-article-wrapper{
    max-width: 90% !important;
    min-width: 90% !important;
    width: 90% !important;
  }
  #navburger{
    display: block !important;
  }
}

@keyframes slideopen{
  0%{
    height: 0px;
  }
  100%{
    height: 50px;
  }
}

@keyframes fadeIn{
  0%{
    opacity: 0
  }
  100%{
    opacity: 1;
  }
}

#nav-login{
  animation: fadeIn 0.3s forwards;
}
#nav-signup{
  animation: fadeIn 0.3s forwards;
}
#dropnav{
  animation: slideopen 0.3s forwards;
}