@media only screen and (max-width: 1000px){
  #aside{
    display: none;
  }
  .article{
    min-width: 100%;
    max-width: 100%;
    width: 100%;
  }
  #topLogo{
    position: absolute !important; 
    left: 50% !important; 
    margin-left: -85px !important;
  }
  .auth{
    display: none;
  }
  #top-picks{
    display: none;
  }
  nav{
    position: relative;
  }
  .div-article-wrapper{
    max-width: 90% !important;
    min-width: 90% !important;
    width: 90% !important;
  }
}